*/__pycache__
logs
.DS_Store
*.png
*.pdf
*.gif
*.out
*.pyc
*.env
*.pt
*.mp4
.vscode*
*outputs*
data/*
!assets/*.gif
!data/custom_datasets.py
examples/*
!examples/01_mnist.ipynb
!examples/02_inference.ipynb
!examples/03_mazes.ipynb
checkpoints
